rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /animals/{animal} {
      allow read;
      allow write: if isAdmin();
      }
    match /users/{userId} {
      	allow read;
        allow write: if request.auth != null && request.auth.uid != '';
      }
   match /admins/{adminId} {
  			allow read;
   }   
    function isAdmin() {
    	return request.auth != null &&
      request.auth.uid != '' &&
      get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.admin == true;
    }
  }
}