<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="animals">
      <ion-icon name="paw"></ion-icon>
      <ion-label>{{ 'ANIMALS' | translate}}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="lost">
      <ion-icon name="flame"></ion-icon>
      <ion-label>{{ 'LOST' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="liked">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{ 'LIKED' | translate}}</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
