// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Rubik', sans-serif;

  --ion-color-primary: #2a677b;
  --ion-color-primary-rgb: 42,103,123;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #255b6c;
  --ion-color-primary-tint: #3f7688;

  --ion-color-secondary: #194841;
  --ion-color-secondary-rgb: 25,72,65;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #163f39;
  --ion-color-secondary-tint: #305a54;

  --ion-color-tertiary: #542561;
  --ion-color-tertiary-rgb: 84,37,97;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4a2155;
  --ion-color-tertiary-tint: #653b71;

  --ion-color-success: #137d18;
  --ion-color-success-rgb: 19,125,24;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #116e15;
  --ion-color-success-tint: #2b8a2f;

  --ion-color-warning: #cf5c16;
  --ion-color-warning-rgb: 207,92,22;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #b65113;
  --ion-color-warning-tint: #d46c2d;

  --ion-color-danger: #6f1024;
  --ion-color-danger-rgb: 111,16,36;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #620e20;
  --ion-color-danger-tint: #7d283a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}