<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app" [text]="'BACK' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{animal?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="shareAnimal()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="animal">
    <ion-row>
      <ion-col>
        <ion-img src="{{loading ? loader : animal?.image}}" [alt]="animal?.name"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>{{animal?.name}}</h1>
        <ion-text color="medium"><h6>{{animal?.date | date}}</h6></ion-text>
        <p class="pre-wrap">{{animal?.description}}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!animal?.active">
      <ion-col>
       <ion-text color="success"><h2>{{ 'ANIMAL_IS_ADOPTED' | translate}}</h2></ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>{{ 'SEX' | translate}}</ion-label>
            <ion-note slot="end" color="primary">{{animal?.sex | translate}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>{{'AGE'|translate}}</ion-label>
            <ion-note slot="end" color="primary">{{animal?.born}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'BREED' | translate }}</ion-label>
            <ion-note slot="end" color="primary">{{animal?.breed}}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>{{ 'TAG' | translate}}</ion-label>
            <ion-note slot="end" color="primary">{{animal?.tag}}</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>


    </ion-row>
    <ion-button color="primary" expand="block" fill="solid" (click)="displayShelter(animal?.shelter)">
      {{ 'CONTACT_SHELTER' | translate}}</ion-button>


  </div>
</ion-content>